@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Primary colors */
:root {
  --color-primary: #f2c4c4;
  --color-primary-light: #ffdfdf;
  --color-primary-dark: #ca9898;
  --color-primary-darkest: #9b6e6e;
  --color-primary-lightest: #fff1f1;
}

/* Secondary colors */
:root {
  --color-secondary: #c2d5fc;
  --color-secondary-light: #d8e8fe;
  --color-secondary-dark: #9cb6e9;
  --color-secondary-darkest: #5a83c3;
  --color-secondary-lightest: #eff6ff;
}

/* Accent colors */
:root {
  --color-accent: #c4f2c4;
  --color-accent-light: #d4f4d4;
  --color-accent-dark: #7ee47e;
  --color-accent-darkest: #4cb24c;
  --color-accent-lightest: #e5ffe5;
}

/* Neutral colors */
:root {
  --color-neutral: #8e9192;
  --color-neutral-light: #b2b5b6;
  --color-neutral-dark: #5e6162;
  --color-neutral-darkest: #383a3b;
  --color-neutral-lightest: #e3e4e4;
}

/* Typography */
:root {
  --text-h1: 4rem;
  --text-h2: 3rem;
  --text-h3: 2.25rem;
  --text-h4: 1.5rem;
  --text-body-intro: 1.25rem;
  --text-body-main: 1rem;
  --text-medium: 0.875rem;
  --text-caption: 0.75rem;
  --text-small: 0.625rem;
  --font-sans: "Open Sans", sans-serif;
}

/* Set the background color to the primary lightest shade */
body {
  background-color: var(--color-primary-lightest);
}

/* Add a padding of 4 units to all sides of the element */
.container {
  padding: 4rem;
}

/* Set the font size to the body-main size */
h1 {
  font-size: var(--text-h1);
}

/* Set the font weight to bold */
h1 {
  font-weight: bold;
}

/* Add a margin of 2 units to the bottom of the element */
p {
  margin-bottom: 2rem;
}
